.card-footer {
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  position: relative;
  justify-content: center;
  background-color: rgb(230, 252, 230);
}

.card {
  position: relative;
  display: justify;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(194, 201, 194, 0.945);
  border-radius: 0.25rem;
  text-align: justify;
}

.weather-application {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #939496;
  border-radius: 5px;
}

.card-header {
  background-color: rgb(230, 252, 230);
}
