.card-footer {
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  position: relative;
  justify-content: center;
}

.card {
  text-align: justify;
}

.weather-application {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #939496;
  border-radius: 5px;
}

.card-header {
  background-color: rgb(199, 252, 199);
}
